<html>
	<body>
		<div>
			<% if(errosValidacao) { %>
				<ul>
					<% for (var i=0; i< errosValidacao.length;i++){ %>
						<li> <%= errosValidacao[i].param %> - <%= errosValidacao[i].msg %></li>
					<% } %>
				</ul>
			<% }%>
		</div>

		<form action="/produtos" method="post">
			<div>
				<label for="titulo">Titulo</titulo>
				<input type="text" id="titulo" name="titulo" value="<%= produto.titulo %>" placeholder="insira o titulo aqui" />
			</div>
			<div>
				<label for="preco">Preço</titulo>
				<input type="text" id="preco" name="preco" value="<%= produto.preco %>" placeholder="10.90" />
			</div>
			<div>
				<label for="descricao">Descrição</titulo>
				<textarea cols="20" rows="10" id="descricao" name="descricao"><%= produto.descricao %></textarea>
			</div>
			<input type="submit" value="Salvar" />
		</form>
	</body>
</html>